html, body {
  box-sizing: border-box;
  background-image: url('./penBG.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3%;
}

.postsCard {
  background-color: rgba(255, 255, 255, .5);
  width: 475px;
  height: 350px;
  border: 5px dotted slategray;
  margin: 2% 0;
  padding: 2%;
}

button {
  width: 75px;
  margin: 2% 2% 0 2%;
  background-color: white;
  border: 1px solid slategray;
}

.addBtn {
  width: 125px;
}

.addContainer, .postsContainer {
  margin-top: 4%;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  width: 500px;
  height: 300px;
  border: 5px dotted slategray;
}

.addForm input, .addForm textarea {
  width: 400px;
}